<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{%if subtitle %} {{ subtitle }}: {%endif%} {{ title }} | Mars Symphony</title>

        <link rel="stylesheet" href="/styles/global.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
            rel="stylesheet"
        />

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFWSHSGR3T"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-QFWSHSGR3T");
        </script>
    </head>

    <body>
        <header>
            <p class="subtitle">{{ subtitle }}</p>
            <p class="title">{{ title }}</p>
        </header>

        <main>{{ content | safe }}</main>
    </body>
</html>
