@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "DM Sans", sans-serif;
}

body {
    @apply p-4;
}

header {
    @apply text-center px-4 py-6 mb-4 bg-gray-50 rounded-md text-white;
    background-image: url("images/mars.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

header .subtitle {
    @apply uppercase tracking-widest opacity-75;
}

header .title {
    @apply text-2xl font-semibold;
}

main {
    @apply prose max-w-none;
}

.link {
    @apply block px-4 py-2.5 border-2 border-rust-700 rounded-md text-rust-700 text-center no-underline;
}

.link.prominent {
    @apply bg-rust-700 text-white;
}

audio {
    @apply block w-full;
}
